apiVersion: v1
kind: Service
metadata:
  namespace: exercises
  name: pong-svc
spec:
  type: ClusterIP
  selector:
    app: pong-app
  ports:
    - port: 2345
      protocol: TCP
      targetPort: 3000